// COLORS
$primary-color: #4361ee;
$secondary-color: #4cc9f0;

$white-color: #fff;

$dark-grey: #333333;
$light-grey: #e7ecef;

$dark-blue-text: #00171f; // For Headings

// FONT SIZE
$default-font-size: 1.6rem;
$big-font-size: 4rem;
$mid-font-size: 2.5rem;
